{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block main_head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Forum{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% block bootstrap_style %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block bootstrap_scripts %}
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}


    {% block default_stylesheet %} <link type="text/css" rel="stylesheet" href="{% static "core/main.css" %}"> {% endblock %}
    {% block default_javascript %} <script defer src="{% static "core/js/main.js" %}"></script> {% endblock %}
    {% block extra_head %}{% endblock %}

    {% endblock %}
</head>

<body>

    <div class="main">
    {% block main_body %}
        <div class="header container-fluid"> {% block header %}{% include "core/patterns/includes/header.html" %}{% endblock %} </div>
        {#  <div class="right_side_bar">{% block right_side_bar %}{% include "core/patterns/includes/right_side_bar.html" %}{% endblock %}</div>  #}
        <div class="content container-fluid"> {% block content %}{% endblock %} </div>
        <div class="footer container-fluid"> {% block footer %}{% include "core/patterns/includes/footer.html" %}{% endblock %} </div>
    {% endblock %}
    </div>

</body>
</html>

<!-- delete me -->