{% extends "core/patterns/parents/main.html" %}

{% block title %}Новая тема{% endblock %}

{% block content %}

    {% if messages %}
        <div class="error_message">
            {% for message in messages %}
                "{{ message }}"
            {% endfor %}
            <a href="{% url "core:create" %}">Вернуться</a>
        </div>

    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>

    {% endif %}

{% endblock %}
