{% extends "core/patterns/parents/main.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Новая тема{% endblock %}

{% block extra_head %}<link href="{% static "core/topic_create.css" %}" type="text/css" rel="stylesheet">{% endblock %}

{% block content %}

    {% if messages %}
        <div class="error_message">
            {% for message in messages %}
                "{{ message }}"
            {% endfor %}
            <a href="{% url "core:create" %}">Вернуться</a>
        </div>

    {% else %}
        <div class="create_external container-fluid">
            <form action="" method="post" class=".form-group row">
                {% csrf_token %}

                <div class="col-12 topic_create_field">{% render_field form.title class=".form-control" placeholder="Title" %}</div>
                <div class="col-12 topic_create_field">{% render_field form.description class=".form-control" placeholder="Description" %}</div>
                <div class="col-12 topic_create_btn"><input type="submit" class="btn btn-secondary"></div>
            </form>
        </div>

    {% endif %}

{% endblock %}
