{% extends "core/patterns/parents/main.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <h1>{{ object.title }}</h1>
    <h2>{{ object.description }}</h2>
    <h3>{{ object.author }}</h3>
    <h3>{{ object.pub_date }}</h3>
    <br>
    {% for comment in object.comments.all %}
        <div class="comment">{{ comment.content }}</div>
    {% endfor %}

    <form action="{% url "core:add_comment" %}" method="post">
        <input name="object_id" type="hidden" value="{{ object.id }}">
        <input name="model_name" type="hidden" value="topic"> {# Имя модели в НИЖНЕМ! регистре. #}
        <input name="next" type="hidden" value="{{ request.path }}">

        {{ form }}

        <input type="submit">

        {% csrf_token %}
    </form>

{% endblock %}

