{% extends "core/patterns/parents/main.html" %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}
{% block extra_head %}
    <script defer src="{% static "core/js/like_app/like_app_main_function.js" %}"></script>
    <script defer src="{% static "core/js/like_app/calls/call_for_topic.js" %}"></script>
    <script defer src="{% static "core/js/like_app/calls/call_for_comment.js" %}"></script>
    <script defer src="{% static "core/js/comment_app/comment_app_main_function.js" %}"></script>
{% endblock %}

{% block content %}

    <h1>{{ object.title }}</h1>
    <h2>{{ object.description }}</h2>
    <h3>{{ object.author }}</h3>
    <h3>{{ object.pub_date }}</h3>
    {% include "core/patterns/includes/like_from/like_form_for_topic.html" %}
    <br>

    {% if user.is_authenticated %}
     <form action="{% url "comment_app:add_comment" %}" method="post">
        <input name="object_id" type="hidden" value="{{ object.id }}">
        <input name="model_name" type="hidden" value="topic"> {# Имя модели в НИЖНЕМ! регистре. #}
        <input name="next" type="hidden" value="{{ request.path }}">

        {{ form }}

        <input type="submit">
        {% csrf_token %}
    </form>
    {% endif %}

    {% for comment in object.comments.all.order_by_number_of_likes %}
        <br>
        <div class="comment">
        {{ comment.author }}
        <h3 class="comment_content">{{ comment.content }}</h3>
        <input class="comment_id" type="hidden" name="comment_id" value="{{ comment.id }}">
            {% if request.user == comment.author %}
                <input type="submit" class="btn btn-sm btn-default comment_edit_button" value="Edit">
            {% endif %}
        {{ comment.pub_date }}
        </div>
        {% include "core/patterns/includes/like_from/like_form_for_comment.html" %}
        <br>
    {% endfor %}

{% endblock %}

