{% extends "core/patterns/parents/main.html" %}
{% load static %}

{% block title %}Главная{% endblock %}
{% block extra_head %}<link type="text/css" rel="stylesheet" href="{% static "core/index.css" %}">{% endblock %}
{% block header %}{% include "core/patterns/includes/header.html" %}{% endblock %}

{% block content %}

    <h1>Популярные вопросы</h1>

    {% for object in object_list %}

             <a href="{% url "core:detail" object.id %}" id="{{ object.id }}"><div class="topic"> {{ object.title }} </div></a>

    {% endfor %}

{% endblock %}

