{% extends "core/patterns/parents/main.html" %}
{% load static %}

{% block title %}Главная{% endblock %}
{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{% static "core/index.css" %}">
    <script defer src="{% static "core/js/like_app/like_app_ajax.js" %}"></script>
{% endblock %}

{% block header %}{% include "core/patterns/includes/header.html" %}{% endblock %}
{% block content %}

    <h1>Популярные вопросы</h1>

    {% for object in object_list %}
        <div class="object">
            <h4><a href="{% url "core:detail" object.id %}" id="{{ object.id }}"><div class="topic"> {{ object.title }} </div></a></h4>
            <div class="likes">{{ object.likes.count }}</div>
        </div>

    {% endfor %}

{% endblock %}

