{% extends "core/patterns/parents/main.html" %}
{% load static %}

{% block title %}List{% endblock %}
{% block extra_head %}
    <link href="{% static "core/list.css" %}" type="text/css" rel="stylesheet">
    <script defer src="{% static "core/js/like_app/like_app_ajax.js" %}"></script>
    <script defer src="{% static "core/js/like_app/params/main_params.js" %}"></script>
    <script defer src="{% static "core/js/like_app/params/params_for_topic.js" %}"></script>
{% endblock %}

{% block header %}{% include "core/patterns/includes/header_with_field.html" %}{% endblock %}

{% block content %}

    {% include "core/patterns/includes/pagination_block.html" %}

    {% for object in object_list %}

        <div class="object">
            <h4><a href="{% url "core:detail" object.id %}" id="{{ object.id }}"><div class="topic"> {{ object.title }} </div></a></h4>
            <h5>{{ object.description }}</h5>

            {% include "core/patterns/includes/like_from/like_form_for_topic.html" %}

        </div>

    {% endfor %}

    {% include "core/patterns/includes/pagination_block.html" %}

{% endblock %}