{% extends "core/patterns/parents/main.html" %}
{% load widget_tweaks %}
{% load static %}

{% block extra_head %}<link href="{% static "core/common_auth.css" %}" type="text/css" rel="stylesheet">{% endblock %}

{% block title %}Войти{% endblock %}

{% block content %}
    <div class="common_form_external">
        <form action="" method="post" class="form-signin">
            <h2 class="form-signin-heading">Please sign in.</h2>
            {% csrf_token %}
            {{ form.errors }}
            {% render_field form.username placeholder="Username" class="common_form_field login_form_username form-control" %}
            {% render_field form.password placeholder="Password" class="common_form_field login_form_password1 form-control"%}   {# PASSWORD #}

            <div class="common_button"><input class="btn btn-secondary" type="submit" value="Вход"></div>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
    <!--
    <form action="" method="post" class="form-signin">
            <h2 class="form-signin-heading">Please register.</h2>
            {% csrf_token %}
            {{ form.errors }}

            {% render_field form.username placeholder="Username" class="reg_form_field registration_form_username form-control" %}
            {% render_field form.password1 placeholder="Password" class="reg_form_field registration_form_password1 form-control"%}   {# PASSWORD #}
            {% render_field form.password2 placeholder="Confirm password" class="reg_form_field registration_form_password2 form-control"%}    {# CONFIRM_PASSWORD #}
            <div class="reg_button"><input class="btn btn-secondary" type="submit" value="Регистрация"></div>

        </form>

     -->

{% endblock %}