.header {
    min-height: 30px;
    background-color: #f4f4f4;
}

.header_row_1 {
    min-height:30px;
}

.header_row_2 {
    background-color: #fafafa;
    min-height:50px;
}

.links a {
    padding-left:8px;
}

.user_info .btn-sm {
    height: 22px;
}

.search-col {
    margin-left:2vw;
}

.sort_field {
    width:10px;
}

h5 {
    font-size: 1.05rem;
}

.pagination {
    margin-top: 8px;
    margin-bottom: 10px; /* 2 (-6)*/
    border-top: solid 1px #ededed;
    border-bottom: solid 1px #ededed;
    margin-left: 14px;

}

    .pagination li {
        margin-right:4px;
        margin-left:4px;
    }



