.header {
    min-height: 30px;
    background-color: #f4f4f4;
}

.header_row_1 {
    min-height:30px;
}

.header_row_2 {
    background-color: #fafafa;
    min-height:50px;
}

.links a {
    padding-left:8px;
}

.user_info .btn-sm {
    height: 22px;
}

