
<div class="links">
    <a href="{% url "core:index" %}">Главная</a>
    <a href="{% url "core:create" %}">Создать тему</a>
</div>
<div class="user_info">
    {% if user.is_authenticated %}
        <div class="user_is_login">
            {{ user.username }}
            <a href="{% url "logout" %}?next={{ request.path }}">Выйти</a>
        </div>
    {% else %}
        <div class="user_is_not_login">
            <a href="{% url "login" %}?next={{ request.path }}">Войти</a>
            <a href="{% url "registration" %}?next={{ request.path }}">Регистрация</a>
        </div>
    {% endif %}
</div>
